@model IEnumerable<noticiasAuto.Models.Pilotos>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Criar Piloto", "Create")


    @foreach (var pilotos in Model)
    {
        <div class="col-sm-4" style="text-align: left;c justify-content: center; padding-bottom:20px; ">
            <div class="thumbnail" style="height:250px; width:350px;" onclick="window.location= '@Url.Action("Details","Pilotos", new { id = pilotos.IdPiloto})'">

                <img src="~/imagens/@pilotos.Fotografia" alt="" class="image" style="text-align:left; height:240px; width:340px">
    <p style="color:black"><strong> @pilotos.Nome</strong></p>

    </div>
    </div>

}

    }