@model IEnumerable<noticiasAuto.Models.Noticias>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>


@foreach (var noticias in Model)
{
    <div class="col-sm-4" style="text-align: center; justify-content: center">
        <div class="thumbnail" style="height:250px; width:350px;" onclick="window.location= '@Url.Action("Details","Noticias", new { id = noticias.IdNoticia})'">
            <a href="@Url.Action("Details","Noticias", new { id = noticias.IdNoticia})" target="_blank">
                <img src="~/imagens/@noticias.Fotografia" alt="" style="align-content:center" height=80% width=100%>
            </a>
            <div class="card-body">
                <h6 class="card-title mb-0">
                    <p><strong> @noticias.Titulo</strong></p>
                </h6>
            </div>
        </div>
    </div>
}