@model IEnumerable<noticiasAuto.Models.Noticias>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<<

@foreach (var noticias in Model)
{
    <div class="col-sm-4" style="text-align: center; justify-content: center; padding-bottom:20px; ">
        <div class="thumbnail" style="height:250px; width:350px;" onclick="window.location= '@Url.Action("Details","Noticias", new { id = noticias.IdNoticia})'">

            <img src="~/imagens/@noticias.Fotografia" alt="" class="image" style="align-content:center; height:240px; width:340px">

            <h5 style="position: absolute; top: 200px; left: 15px; right:15px; ">
                <p style="color:white"><strong> @noticias.Titulo</strong></p>
            </h5>
        </div>
    </div>

}