@model IEnumerable<noticiasAuto.Models.Equipas>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Criar Equipa", "Create")
</p>



@foreach (var item in Model)
{
    <div class="col-sm-4" style="text-align:center; justify-content: center; padding-bottom:20px ">
        <div class="thumbnail" style="height:200px; width:300px;" onclick="window.location= '@Url.Action("Details","Equipas", new { id = item.IdEquipa})'">
            <img src="~/imagens/@item.Logo" alt="" style="align-content:center; height:200px; width:300px">

            
            
        </div>
    </div>
}
